0 * * * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin adonis bbapi:updateHA
3 * * * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin adonis wp:getWPPosts"
30 * * * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin bbapi:getSearchListings"
5 * * * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin adonis bbapi:getBoatInfo"

0 7 * * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin adonis bbapi:updateHA
3 6 1,15 * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin adonis wp:getWPPosts"
30 5 * * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin bbapi:getSearchListings"
5 6 * * * cd /var/apps/boaty_nuxt && /usr/local/bin/docker-compose run --rm adonisjs-admin adonis bbapi:getBoatInfo"

INSERT INTO categories (`name`)
VALUES
('Contests'),
('Offers'),
('Events'),
('Information'),
('Guides'),
('Reviews');

remove me later